<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Integra SA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'assets/img/logoIntegra.png'%} " rel="icon">
  <link href=" {% static 'assets/img/icon_integra.png' %}" rel="integra-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static  'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="styleshe+et">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %} " rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.10.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"> <a href="{% url 'Home' %} "><img src=" {%static 'assets/img/integraSA.png' %} " class="img-fluid animated" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'About' %} ">Acerca de</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Buscar_empresa' %} ">buscar empresa</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Contacto' %} ">Contact</a></li>
          <!-- opcion, crear una condicional
          para mostrar el resto de informacion junto a la foto de login-->
          <li class="dropdown"><a href="#"><span>Menu de usuario</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">perfil</a></li>
              
              <li><a href="#">editar perfil</a></li>
              <li><a href="#">crear filtro de vacantes</a></li>
              <li><a href="#">Estado de postulaciones</a></li>
              <li><a href="#">Favoritos</a> </li>
              <li><a href="#">configurar cuenta</a> </li>
            </ul>
          </li>
          
          <li><a class="getstarted scrollto" href="{% url 'Login_user' %} ">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      

    </div>
  </header><!-- End Header -->



  <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>¿Buscas algun empleo?</h1>
            <h2>Integra tiene muchas vacantes para ti!</h2>
            <form action="{% url 'Search' %} " method="GET" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
              <input type="text" name="busqueda" class="form-control" placeholder="Buscar">
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
            

          </div>
          
        
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src=" {%static 'assets/img/hero-img.png' %} " class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->



{% block content %}









{% endblock %}
 

  <!-- ======= Footer ======= -->

  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>INTEGRA RRHH</span>
          </a>
          <p>Somos una empresa de reclutamiento y selecion de personal.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://www.facebook.com/integranic/about" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/pub/integra-rh/39/81b/26a" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Enlaces utiles</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Consultas de asesoria legal</a></li>
            <li><a href="#">Asesoria en todos los temas de RH</a></li>
            <li><a href="#">Reclutamiento y seleccion de personal</a></li>
            <li><a href="#">Coach personal</a></li>
            <li><a href="#">Evaluaciones individuales</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Managua, Nicaragua<br>
            <!-- Aqui va la direccion --> <br><br>
            <strong>Phone:</strong> +505 88577538<br>
            <strong>Email:</strong> integraseleccion@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Integra SA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Sebas and  boostrapmade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
<!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>